<%= flash[:notice] %>
<div class="container1">
	<div class="screen">
		<div class="screen__content">
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <center>
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
          <div class = "login_input">
					  <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder: "Email" %>
          </div>
				</div>
      </center>
				<button class="button login__submit">
					<span class="button__text">Forgot your password?</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>			
			<% end %>
			
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>

  <!-- Register buttons -->
  <div class="text-center">
    <%= render "devise/shared/links" %>
  </div>
